html {
	height: 100%;
}

body {
	background-color: #171516;
    background-size: cover;
}

a:link {
    text-decoration: none;
    color: #EDB1EF;
}

a:visited {
    color: #EDB1EF;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #EDB1EF;
}

a:hover {
    text-decoration: underline;
    color: #5D515D;
}

@font-face {
	font-family: Century Gothic;
    src: url(fonts/11528.ttf);
   }

   h1 {
	   font-family: Century Gothic;
	   color: #EDB1EF;
   }


   h2 {
      font-family: Century Gothic;
      color: #EDB1EF;
   }

   li {
	   font-family: Century Gothic;
	   color: #EDB1EF;
	   line-height: 30px;
   }

   .refreshBtn {
       background-color: transparent;
       background-repeat: no-repeat;
       border: 2px solid #16A5A3;
       border-radius: 30px;
       cursor: pointer;
       font-family: Century Gothic;
       font-weight: bold;
       font-size: 12pt;
       color: #16A5A3;
       height:50px;
       width:100px;
       position: absolute;
       top: 15px;
       left: 1000px;
    }

    .refreshBtn:hover {
       border: 2px solid #0e4242;
       border-radius: 30px;
       color: #0e4242;
    }

    .refreshBtn:focus {
       outline: 0 !important;
    }

    .backBtn {
       background-color: #171516;
       background-repeat: no-repeat;
       border: 2px solid #EDB1EF;
       border-radius: 30px;
       cursor: pointer;
       font-family: Century Gothic;
       font-weight: bold;
       font-size: 12pt;
       color: #EDB1EF;
       height:50px;
       width:100px;
       position: absolute;
       top: 15px;
       left: 500px;
    }

    .backBtn:hover {
       border: 2px solid #5D515D;
       border-radius: 30px;
       color: #5D515D;
    }

    .backBtn:focus {
       outline: 0 !important;
    }

    .goBtn {
       background-color: #171516;
       background-repeat: no-repeat;
       border: 2px solid ;
       border-radius: 30px;
       cursor: pointer;
       font-family: Century Gothic;
       font-weight: bold;
       font-size: 12pt;
       color: #EDB1EF;
       height:45px;
       width:100px;
       margin: 10px;

    }

    .goBtn:hover {
       border: 2px solid #5D515D;
       border-radius: 30px;
       color: #5D515D;
    }

    .goBtn:focus {
       outline: 0 !important;
    }

    .selectSource {
       font-family: Century Gothic;
       font-weight: bold;
       background-color: #171516;
       border: 2px #EDB1EF solid;
       border-radius: 25px;
       color: #EDB1EF;
       width: 120px;
       height: 35px;
       cursor: pointer
    }

    .selectSource:focus {
       outline: 0 !important;
    }

    .pic {
       margin: 20px;

    }

    .center {
    padding: 250px 0;
    }