<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="https://www.favicon.by/download.php?favicon=61676c47d86e5.ico" type="image/x-icon">
    <base target="_self">
</head>
<body>
<center><h1>Новости на {{ date }}</h1></center>
<h2>Источник: <a href="{{ habr_url }}" target="_blank">{{ habr_url }}</a></h2>
<ol>
{% for i in habr_articles %}
    <li><a href="{{ i['link'] }}" target="_blank">{{ i['title'] }}</a></li>
 {% endfor %}
</ol>
<form method="post" action="/back">
    <button type="submit" class="backBtn">back</button>
</form>
</body>
</html>